body {
    margin: auto;
    text-align: center;
    background-color: rgb(0, 112, 74);
    color: white;
    display: flex;
    justify-content: center;
}

#mainLogo {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    justify-content: center;
}

#bodyHeader{
    color: rgb(0, 112, 74);
    font-weight: 900;
    font-size: 40px;
}

.bodyInner{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 10px;
    width: 50%;
    height: 50%;
    background-color: rgb(226, 226, 226);
    border: 5px solid rgb(0, 75, 50);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.input {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(0, 112, 74);
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.input:focus{
    outline: none;
}

.locationButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 112, 74);;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
 }

 #loc_form {
    margin-top: 20px;
 }

 #finder {
    height: 50px;
    width: 200px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(0, 112, 74);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(0, 75, 50);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
 }

 #resultText{
    color: rgb(0, 112, 74);
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
 }

#data-list {
    list-style-position: outside;
    list-style-image: url("https://cs.indstate.edu/~cs49905/app/starbucksLogoSmall.png");
    margin-top: 20px;
}

.data-listItem {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(0, 112, 74);
    border-bottom: 2px solid rgb(0, 112, 74);
    margin: 15px 100px 20px
}
